#landing {
	text-align: center;
	font-size: 170%;
	color: var(--black);
	width: 60%;
	margin: auto;
	margin-top: 50px;
	height: 100vh;
}

#banner-img {
	height: 200px;
}

#landingtext {
	width: 20%;
}

#down {
	font-size: 200%;
	margin-top: 20vh;
	display: inline-block;
	animation: float 2s ease-in-out infinite;
}

#maincontent {
	text-align: center;
}

.inner {
	width: 60%;
	margin: auto;
}

#about {
	background: var(--purp);
	color: white;
}

h1 {
	font-size: 300%;
}

p {
	font-size: 150%;
}

a {
	color: var(--d-purp);
}

a.light {
	color: #f0f0f0;
}

#inline {
	display: inline-block;
	text-align: left;
	font-size: 150%;
}

#getstarted {
	color: var(--black);
}