@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}


:root {
	--purp: #7592fc;
	--black: #28282b;
	--grey: #f0f0f0;
	--d-purp: #3e67fa;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans';
	background: var(--grey);
}

